<div class="contents">
  <% @tweets.each do |tweet|%>
    <div class="content clear-fix">
      <div class="content_image" style="background-image: url(<%= tweet.image %>);">
      </div>
        <ul class="more_list">

          <% if user_signed_in? && current_user.id == tweet.user_id%>
          <li>
            <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get,data: {"turbolinks"=>false} %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
          <% end%>
          <li>
            <%= link_to "詳細", tweet_path(tweet.id), method: :get %>
          </li>

        </ul>
        <p>投稿者：<%=tweet.user.nickname%></p>
      <%= simple_format(tweet.text) %>
    </div>
  <%end%>
</div>
