<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="navbar">
    <div class="nav-wrapper #00e5ff cyan accent-3 ">
      <a href="/" class="brand-logo" Id="title">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in?%>
        <li>
          ようこそ　<%= current_user.nickname%>さん
        </li>
        <li>
          <%= link_to "投稿", "/tweets/new" ,data: {"turbolinks"=>false}%>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path,method: :delete %>
        </li>
        <%else%>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path%>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <% if flash[:notice]%>
    <div class="flash">
      <%=flash[:notice]%>
    </div>
  <%end%>
    <%= yield %>
  </body>
</html>
